 
.p1 a{
    text-decoration: none;
  }
  
  .p1 p, .p1 li, .p1 a{
    font-size: 14px;
  }
  
  /* GRID */
  
  .twelve { width: 100%; }
  .eleven { width: 91.53%; }
  .ten { width: 83.06%; }
  .nine { width: 74.6%; }
  .eight { width: 66.13%; }
  .seven { width: 57.66%; }
  .six { width: 49.2%; }
  .five { width: 40.73%; }
  .four { width: 32.26%; }
  .three { width: 23.8%; }
  .two { width: 15.33%; }
  .one { width: 6.866%; }
  
  /* COLUMNS */
  
  .p1 .col {
      display: block;
      float:left;
      margin: 1% 0 1% 1.6%;
  }
  
  .p1 .col:first-of-type {
    margin-left: 0;
  }
  
 
  /* CLEARFIX */
  
  .cf:before,
  .cf:after {
      content: " ";
      display: table;
  }
  
  .cf:after {
      clear: both;
  }
  
  .cf {
      *zoom: 1;
  }
  
  /* GENERAL STYLES */
  
  .pagination{
    padding: 30px 0;
  }
  
  .pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
  }
  
  /* ONE */
  
  .p1 a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }
  
  .p1 a.is-active{
    background-color: #03156B;
    border-radius: 100%;
    color: #fff;
  }
  
.p1 a:hover{
    background-color:#03156B;
    border-radius: 100%;
    color: #fff;
}